/*Navigation Bar*/
/*Back Button*/
button[name=back-button] {
  padding: 8px 20px;
  border: none;
  background: none;
  cursor: pointer;
  display: inline-block;
  position: fixed;
}
/*Back Button End*/
/*Collapsible Menu*/
.menu-content{
  padding: 10 0 10 50px;
  max-height: 0;
  overflow: hidden;
  text-align: right;
}
/* Toggle Effect */
input:checked ~ label {
    background-image: url(close.png);
}
input:checked ~ .menu-content {
    max-height: 100%;
}
.collapsible-menu {
  padding: 0px 30px;
  right: 0;
  position: fixed;
}
.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-menu a {
  display: block;
  padding: 10px;
}
.collapsible-menu label {
  display: block;
  cursor: pointer;
  background: url(menu.png) no-repeat left center;
  padding: 10px 0 10px 50px;
}
input#menu {
  display: none;
}
input:checked + label {
  background-image: url(close.png);
}
/*Collapsible Menu End*/