@font-face {
  font-family: MyFont;
  src: url("font/Hershey-Noailles-Futura-Duplex-Regular.ttf") format('truetype');
}


html {
  height: 100%;
   box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 20px;
  min-height: 100%;
  padding-bottom: 6rem;
  flex-direction: column;
  background-color: white;
  display: flex;
  position: relative;
}

main {
  padding-bottom: 5px;
  min-height: 100%;
  flex: 1;
  max-width: 100%;
  display: block;
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-transform: uppercase;
}

/********* Navigation Bar *********/
.navigation {
  font-family: 'MyFont';
  font-size: 15pt;
  position: fixed;
  left:5vw;
  right:5vw;
  width:100px;
  height:50px;
  z-index: 999;
}


/*Back Button*/
button[name=back-button] {
  padding: 8px 20px;
  border: none;
  background: white;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  font-size: 15pt;
  border: solid black 2px;
  height: 50px;
}



/*Collapsible Menu*/
.menu-content{
  max-height: 0;
  overflow: hidden;
  text-align: right;
  background-color: white;
}


/* Toggle Effect */
input:checked ~ .menu-content {
    max-height: 100%;
    background-color: white;
    display: flex;
}

input:unchecked ~ .menu-content {
    max-height: 50px;
    background-color: white;
    display: flex;
}
.collapsible-menu {
  right: 5vw;
  height: auto;
  position: fixed;
  background-color: white;
  border: solid black 2px;
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
}
.collapsible-menu ul {
  list-style-type: none;
}
.collapsible-menu a {
  display: block;
  line-height: 50px;
}
.collapsible-menu label {
  display: block;
  cursor: pointer;
  text-align: right;
  height: 50px;
  line-height: 50px;
}
input#menu {
  display: none;
}
input:checked + label {
  background-color: white;
}

/************* Homepage Word List *************/

#navigation-to-galleries {
  display: block;
  padding-top: 5px;
  position: absolute;
}

dl {
  display: block;
  width: 100%;
}
.words dt {
  font-family: MyFont;
  font-size: 5rem;
  background-color: white;
  border: solid black 2px;
  padding: 5px;
}
.words dd { 
  font-family: 'MyFont';
  font-size: 1rem;
  text-align: left;
  display: block;
  width: 85%;
  padding-bottom: 5px;
  padding-top: 3px;
}

/************* Galleries *************/

.gallery {
  max-width: 100%;
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.gallery-item {
  min-width: 300px;
  max-width: 400px;
  flex: 3 4 250px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}


.wrapper {
  min-height: 100vh;
  padding: 2rem 0px;
  font-family: 'MyFont';
  font-size: 12pt;
  text-align: left;
}


.gallery-item figure {
  padding: 0px;
  margin: 0px;
  border: black solid 2px;
  overflow: hidden;
}

.gallery-item figure:hover img {
  transform: scale(7);
  overflow: hidden;
}

.gallery-item figure img {
  display: block;
  max-width: 100%;
}


.gallery-item ol {
 list-style-type: none;
 padding: 10px;
 margin-top: 5px;
 margin-bottom: 0;
 display: block;
 background: white;
 text-align: left;
 font-size: 10pt;
}


/************* About Page *************/
#about-page {
  max-height: 100%;
  position: fixed;
}

.about {
  min-height: 100%;
  margin-bottom: 2px;
}
.about-text {
  font-family: 'MyFont';
  font-size:10.5vh;
  text-align: justify;
  margin: auto 0;
  word-break: break-all;
}

@media only screen and (max-width: 600px) {
  /* for phones */
  .about-text {
    font-family: 'MyFont';
    font-size: 2.2rem;
    margin-top: 60px;
    }

}
/************* Submissions *************/

.submissions {
  min-height: 80%;
  padding-bottom: 5px;
  max-width: 100%;
}

#subm-text {
  font-family: 'MyFont';
  font-size: 13rem;
  text-align: justify;
  margin: auto;
  word-break: break-all;
}

#subm-subtext {
  font-family: 'MyFont';
  font-size: 18pt;
  text-align: justify;
  margin: 5px;
  border: solid black 2px;
  word-break: break-word;
  overflow: wrap;
  bottom: 0px;
}

@media only screen and (max-width: 600px) {
  /* for phones */
    #submission-page {
  max-height: 100%;
  position: abosulte;
  }
  #subm-text {
    font-family: 'MyFont';
    font-size: 5.8rem;
    margin-top: 60px;
    }
}

/************* Footer *************/

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left:0;
  width: 100%;
  background-color: white;
  position: absolute;
  height: 2.5rem;
  margin-bottom: 5px;
  margin-right: 40px;
  font-family: 'MyFont';
  font-size: 10pt;
  text-align: right;

}




*/